.joke{
    width: 80vw;
    height: auto;
    background-color: white;
    color: black;
    padding-left: 2rem;
}

.joke-btn{
    background-color: aquamarine;
    width: -moz-fit-content;
    width: fit-content;
}

.line{
    width: 25vw;
    background: linear-gradient(90deg,#f40996, blue);
    height: 3px;
    margin-top: -2rem;
}